@import url("https://fonts.googleapis.com/css?family=Grenze&display=swap");
@import "normalize";
@import "breakpoints";

body {
  font-family: "Grenze", serif;
  background-color: #f0f0f0;
  color: #000;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
  transition: 0.1s all;

  &.social-- {
    &email:hover {
      color: #d44638;
    }

    &github:hover {
      color: #6cc644;
    }
  }
}

.name {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

ul.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }

  li {
    flex-grow: 1;
    text-align: center;
    margin-top: 5vh;
  }
}
